.carousel-control-prev, .carousel-control-next{
    display: none !important;
}

.carousel-indicators [data-bs-target]{
    background-color: rgb(121, 26, 26) !important;
    height:10px !important;
    width:30px !important;
    border-radius: 12px;
}

.slider{
  position: relative;
}

.slider .overlay{
    position:absolute;
    top:70%;
    left:30%;
    color:rgb(52, 41, 18);
    font-size: 50px;
    font-weight: bold;
    
}


.halfproducts .showall a{
    color:rgb(0, 0, 0) !important;
    text-decoration:none;
    font-size:20px;
    font-weight: bold;
}
.halfproducts button.showall{
    background-color:rgb(255, 252, 248)
}



.forminput{
    box-shadow: 1px -2px 17px 0px rgba(200, 33, 33, 0.38);
}